<%- model_class = Company -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @company.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ticker) %>:</strong></dt>
  <dd><%= @company.ticker %></dd>
  <dt><strong><%= model_class.human_attribute_name(:founded_date) %>:</strong></dt>
  <dd><%= @company.founded_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hq_location) %>:</strong></dt>
  <dd><%= @company.hq_location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:short_summary) %>:</strong></dt>
  <dd><%= @company.short_summary %></dd>
  <dt><strong><%= model_class.human_attribute_name(:website) %>:</strong></dt>
  <dd><%= @company.website %></dd>
  <dt><strong><%= model_class.human_attribute_name(:twitter) %>:</strong></dt>
  <dd><%= @company.twitter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:instagram) %>:</strong></dt>
  <dd><%= @company.instagram %></dd>
  <dt><strong><%= model_class.human_attribute_name(:linkedin) %>:</strong></dt>
  <dd><%= @company.linkedin %></dd>
  <dt><strong><%= model_class.human_attribute_name(:youtube) %>:</strong></dt>
  <dd><%= @company.youtube %></dd>
  <dt><strong><%= model_class.human_attribute_name(:facebook) %>:</strong></dt>
  <dd><%= @company.facebook %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              companies_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_company_path(@company), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              company_path(@company),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
