<%= bootstrap_form_for(@spec) do |f| %>

    <% if @spec.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@spec.errors.count, "error") %> prohibited this spec from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @spec.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

   <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Spec Details</h3>
  </div>
  <div class="panel-body">
    <%= f.text_field :name %>
    <%= f.text_field :promo_title %>

  </div>
</div>
  


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            specs_path, :class => 'btn btn-default' %>

<% end %>
